doctype html
html
  head    
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Sopa de Letras
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/styles_sopa.css')   

  body
   #container
        .row
          .col-sm-4.col-md-4
          .col-sm-5.col-md-5
             img(src='images/ganaste.gif', alt='prueba')
             br
             br
             p
                 a(href='/sopa')(style='font-size: 2em; font-weight: bold; text-align: center; text-decoration: underline') ¿Quieres seguir jugando?
          .col-sm-3.col-md-3
    
    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/bootstrap.js')      

