extends layout

block content
    .container
      h1 CREA TU SOPA DE LETRAS
      h2 ...y después juégala
    br
    br
    .row.container
      .col-sm-9.col-md-9
        img#sopa(src='images/sopa.png', alt='sopa')
      br
      br
      .col-sm-1.col-md-1
        a.btn.i2.item(href='/usuarios/login')  Iniciar sesión
        a.btn.i3.item(href='/usuarios/registrar') Registrarse

    