extends layout

block content
    .container
        br
        br
        br
        h2 Login
    br
    br

    - if (messages.error)        
        .alert.alert-danger.text-center(style='width: 40%; margin-left:30%; margin-right:30%')
            a.close(href='#', data-dismiss='alert', aria-label='close') ×
            .message.error
            span(style='font-weight:bold')= messages.error
           
    form.contenedor(id='registrar-form', method='POST', action='/usuarios/login')
      .form-group
        label#emailabel(for='email') Correo electrónico
        .input-group
          span.input-group-addon
            span.glyphicon.glyphicon-envelope
          input#correo.form-control(type='email', name="email" pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$', title='Email', required='')
      .form-group
        label#passlabel(for='password') Contraseña
        .input-group
          span.input-group-addon
            span.glyphicon.glyphicon-lock
          input#password.form-control(type='password', name='password', title='Contraseña', required='')
      
      br
  
      input#crear.btn.btn-info(type='submit', value='Ok')
      a#reg.btn.btn-danger(href='/usuarios/registrar') Registrarse
