doctype html
html
  head    
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Sopa de Letras
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/styles_sopa.css')   

  body(onload="mostrarPuntaje();")
     br
     br
     br
     br
     #container
        #div
            p(style='font-weight: bold; text-align: center; font-size: 2em; color:red;') ¡Perdiste!
            br
            img#gif(src='images/perdiste.gif', alt='perdiste')
            br
            br
            br
            p(style="font-weight:bold; text-align:center; color: black;") Puntos
            p#puntos_final
            br
            br
            a#mensaje(href='/usuario/puntaje.htm?puntos=texto', target='_blank') Continuar
    
    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/bootstrap.js')   
    script(src='/javascripts/palabras.js')    

