doctype html
html
  head    
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Sopa de letras
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/styles_sopa.css') 
        
  body
     #container1
          #header
            span.glyphicon.glyphicon-user     
              a#u(href='/usuarios/perfil') #{nickname}

          br
          br
          br
          h1 CREA TU SOPA
          br
          br
          #container
            .row
              .col-sm-9.col-md-9
                form#guardapalabras(name='miFormulario', method='POST', action='/sopa')
                   label#titulolabel TÍTULO
                   input#titulo(type='text', name='titulo', maxLength = '40',required="")
                   span#avisoT
                   br
                   br
                   br
                   label#descripcionlabel DESCRIPCIÓN
                   input#descripcion(type='text', name='descripcion', maxLength = '100',required="")
                   span#avisoD
                   br
                   br
                   #checkbox
                    input(type='radio', name='condicion', value='si', checked)
                    |   Acepto que mi sopa sea de uso público
                    br
                    input(type='radio', name='condicion', value='no')
                    |   No deseo que mi sopa sea de uso público
                    br
                   br
                   br
                   label#numerolabel NÚMERO DE PALABRAS
                   input#numero(type='number', name='numero', min='1', max='15', value='1', required='', onkeyup="if(this.value>15){this.value='15';}else if(this.value<1){this.value='1';}")

                   button#check(onclick="validar(); mostrar();")
                     i.glyphicon.glyphicon-check                
                   br
                   br
                form#guardapalabras(name='guardapalabras', method='POST', action='/palabras', onkeypress='return anular(event)')
                  #mostrar                  
                  br
                  br
                  br
                  #generar
              .col-sm-3.col-md-3
                 img#sopa2(src='images/sopa2.png', alt='prueba')
    #container2(style='display:none')
      .col-md-8.col-sm-8
         .row
            #sopaT
         .row
            #sopaD
      .col-md-1.col-sm-1  
      #tablero.col-md-3.col-sm-3
        .row
          .col-md-4.col.sm-4
             h5 Usuario:
          .col-md-8.col.sm-8
             h4#usuario #{nickname} 
        .row
          .col-md-4.col.sm-4
             h5 Puntos:
          .col-md-8.col.sm-8
             h4#puntos 0
        br
        #countdownExample 
            .values
      .row
        #table.col-md-9.col-sm-9        
        #lista.col-md-2.col-sm-2
      br
      .row
        .col-md-5
        .col-md-2
          button#verificar(onclick='verifica()')
            span.glyphicon.glyphicon-check
        .col-md-5
    
    script(src='/javascripts/jquery-1.10.2.min.js')       
    script(src='/javascripts/bootstrap.js')  
    script(src='/javascripts/jquery.bootstrap-growl.min.js')
    script(src='/javascripts/easytimer.min.js')
    script(src='/javascripts/palabras.js')       
      
    
