doctype html
html
  head    
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Sopa de letras
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/styles_sopa.css')  
        
  body(onload='mostrarUsuario()')
     #container1
          #header
            span.glyphicon.glyphicon-user
            - if (messages.nickname)        
                a#u(href='/usuarios/perfil')=  messages.nickname

            - if (messages.puntos)        
                span#p(style='display:none')=  messages.puntos
          br
          br
          br
          h1 CREA TU SOPA
          br
          br
          #container
            .row
              .col-sm-9.col-md-9
                form#miFormulario(name='miFormulario', method='POST', action='/sopa', onkeypress='return anular(event)')
                  label#titulolabel TÍTULO
                  input#titulo(type='text' name='titulo', maxLength = '40', onKeyDown="contar(40, 'titulo','contador')" onKeyUp="contar(40, 'titulo', 'contador')" required="")
                  input#contador(disabled='', size='2', value='40')
                  span#avisoT
                  br
                  br
                  br
                  label#descripcionlabel DESCRIPCIÓN
                  input#descripcion(type='text', , maxLength = '100', name='descripcion', onKeyDown="contar(100, 'descripcion','contador2')" onKeyUp="contar(100, 'descripcion', 'contador2')" required="")
                  input#contador2(disabled='', size='3', value='100')
                  span#avisoD
                  br
                  br
                  br
                  label#numerolabel NÚMERO DE PALABRAS
                  input#numero(type='number', name='numero', min='1', max='15', value='1', required='', onkeyup="if(this.value>15){this.value='15';}else if(this.value<1){this.value='1';}")
                  button#check(onclick='validar(); mostrar();')
                    i.glyphicon.glyphicon-check                
                  br
                  br
                  .visible-lg.visible-sm.visible-xs
                    br
                form#guardapalabras(name='guardapalabras', method='POST', action='/palabras', onkeypress='return anular(event)')
                  #mostrar
                  #checkbox
                    input(type='checkbox', name='condicion', value='si', checked='true')
                    |    Acepto que mi sopa sea de uso público
                  br
                  br
                  br
                  #generar
              .col-sm-3.col-md-3
                 img#sopa2(src='images/sopa2.png', alt='prueba')
    #container2(style='display:none')
      .col-md-8.col-sm-8
         .row
            #sopaT
         .row
            #sopaD
      .col-md-1.col-sm-1  
      #tablero.col-md-3.col-sm-3
        .row
          .col-md-4.col.sm-4
              h4 Usuario:
          .col-md-8.col.sm-8
          h4#usuario Usuario
        .row
          .col-md-4.col.sm-4
              h4 Puntos:
          .col-md-8.col.sm-8
          h4#puntos Puntos
        br
        #countdownExample 
            .values
      .row
        #table.col-md-9.col-sm-9        
        #lista.col-md-2.col-sm-2
      br
      .row
        .col-md-5
        .col-md-2
          button#verificar(onclick='verifica()')
            span.glyphicon.glyphicon-check
        .col-md-5
    
    script(src='/javascripts/jquery-1.10.2.min.js')   
    script(src='/javascripts/bootstrap.js') 
    script(src='/javascripts/store.min.js')      
    script(src='/javascripts/palabras.js')
    script(src='/javascripts/jquery.bootstrap-growl.min.js')
    script(src='/javascripts/easytimer.min.js')
    
    
