/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-sep-2015, 17:03:00
    Author     : Laura Schiatti
*/

@import url(//fonts.googleapis.com/css?family=Inconsolata);

@media (max-width:459px) {
    h1, #sopaT{
        padding-top: 5%;
        font-size: 3.2em;  
    }     
    
    #titulolabel, #descripcionlabel, #numerolabel {     
        font-size: 1.9em;
        margin: 0 25% 6% 25%;
        text-align: center;
        width: 50%;
    }

    input[type="text"] {
        height: 40px;
        width: 60%;
        margin: 0 20% 0 20%;
        border: 2px solid #aaa;
        box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
        border-radius: 5px;
        padding: 5px;
        border-bottom: 1px solid #eee;
    }
    
    textarea{
        width: 60%;
        margin: 0 20% 0 20%;
        border: 2px solid #aaa; 
        box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
        border-radius: 5px; 
        padding: 10px;   
        border-bottom: 1px solid #eee;  
    }
    
    input[type="number"]{ 
        height: 40px; 
        width: 20%;
        margin-left: 40%;
        border: 2px solid #aaa; 
        box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
        border-radius: 5px; 
        padding: 5px;   
        border-bottom: 1px solid #eee;  
        text-align: center;
    }
    
    #check{     
        font-size:2em;
        color:white;
        background:#979003;
        margin-left: 20px;
        text-align: center;
        padding-left: 5px;
        font-size: 1.1em;
        width: 15%;
    }
   
    #sopa2{
        width: 0;
        height: 0;
    }
    
    #container{
        padding: 5%;
    }
    
    #mostrar{
        width: 60%;
        margin: 5% 20% 0 20%;
    }
    
    #generar input{    
        width: 20%;
        margin-left: 40%;       
        margin-right: 35%;   
        font-size:1.1em;
        color:#660066;
    } 
    
    #verificar{    
        width: 10%;
        margin-left: 45%;  
        margin-right: 45%; 
        font-size:1.2em;
        color:#660066;
    }
    
    .btn{    
        width: 20px;
        height: 20px;
        text-align: center;
        font-size: 1.1em;
        padding: 0.5px;
        border: 1px outset blue;
        background-color: lightBlue;
    }

    #sopaT{
        font-size: 70%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #sopaD {
        font-size: 80%;
        font-weight: bold;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    h4 {
        font-size: 1em;  
        text-align: center;   
    }

    #tablero {
        /*border-style: outset;
        border-width: 2px;*/
        width: 23%;
        padding: 2px;
        /*border:4px solid #000000;*/
        text-align: center;
        font-size: 1em;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    /*Reloj: Tomado de https://fitorec.wordpress.com/2011/01/21/creando-un-reloj-con-javascript-y-css/ */
    #countdownExample{
       padding:3px;
       font-size: 1.2em;
       width: 40%;
       margin: 10px 30% 10px 30%;
       margin-right: 0;   
    }

    #lista {
        margin-top: 10px;
        font-size: 1em;
    }

    #contador, #contador2{
        padding: 1px;
        margin:4% 20% 2% 69%;
        width: 11%;
        text-align:center;
        border-color: #ff00dc;
        border-radius: 1px;
        font-weight: bold;
        font-size: 1em;
    }

    #gif{
        width: 90%;
    }

    #mensaje {
        font-size: 1.3em;
    }

    #checkbox{
        width: 20%;
        margin: 0 20% 0 20%;
        font-size:1em;
    }
}

@media (min-width: 460px) and (max-width : 767px){    
    h1, #sopaT{
        font-size: 4.3em;            
    }
    
    #titulolabel, #descripcionlabel, #numerolabel  {     
        font-size: 1.7em;
        margin: 0 30px 0 10px;
        text-align: left;
        padding-left: 3%;
    } 
    
    input[type="text"]{ 
        height: 40px; 
        width: 38%;
        border: 2px solid #aaa; 
        box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
        border-radius: 5px; 
        padding: 5px;   
        border-bottom: 1px solid #eee;
        font-size: 1.1em;   
    }
    
    textarea{
        width: 40%;
        border: 2px solid #aaa; 
        box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
        border-radius: 5px; 
        padding: 10px;   
        border-bottom: 1px solid #eee;  
    }
    
    input[type="number"]{ 
        height: 40px; 
        width: 12%;
        border: 2px solid #aaa; 
        box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
        border-radius: 5px; 
        padding: 5px;   
        border-bottom: 1px solid #eee;  
        text-align: center;
        font-size: 1.1em; 
    }
    
    #check{     
        font-size:1.7em;
        color:white;
        background:#979003;
        margin-left: 20px;
        text-align: center;
        padding-left: 3px;
        font-size: 1em; 
    }
   
    #sopa2{
        width: 0;
        height: 0;
    }  
    
    #container{
        width: 90%;
        margin: 5% 5% 0 5%;
        padding: 3%;
        border: 10px solid #660066;
        border-radius: 20px;
    }
    
    #mostrar{
        width: 80%;
        margin: 0 0 0 32%;
    }
    
    #generar input{    
        width: 20%;
        margin-left: 40%;  
        margin-right: 40%;      
        font-size:1.1em;
        color:#660066;
    } 
    
    #verificar{    
        width: 10%;
        margin-left: 45%;  
        margin-right: 45%; 
        font-size:1.2em;
        color:#660066;
    }
    
    .btn{    
        width: 25px;
        height: 25px;       
        padding: 0.5px;
        font-size: 1.1em;
    }
    
    /*#lista{
        margin-top: 10px;
    }*/

    #sopaT{
        font-size: 70%;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    #sopaD {
        font-size: 100%;  
        font-weight: bold;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    h4 {
        font-size: 1em;
        float: left;       
    }

    #usuario, #puntos {
        float: right;
    }

    #tablero {
        /*border-style: outset;
        border-width: 2px;*/
        width: 23%;
        padding: 2px;
        /*border:4px solid #000000;*/
        text-align: center;
        font-size: 1em;
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }

    /*Reloj: Tomado de https://fitorec.wordpress.com/2011/01/21/creando-un-reloj-con-javascript-y-css/ */
    #countdownExample{
       padding:3px;
       font-size: 1.2em;
       width: 60%;
       margin: 10px 20% 10px 20%;
       margin-right: 0;   
    }

    #lista {
        margin-top: 10px;
        font-size: 1.2em;
    }
        
    #contador, #contador2{
        margin: 2%;
        width: 9%;
        padding: 2px;
        text-align:center;
        border-color: #ff00dc;
        border-radius: 1px;
        font-weight: bold;
        font-size: 0.9em;
    }

     #gif{
        width: 70%;
    }

    #mensaje {
        font-size: 1.3em;
    }

    #checkbox{
        width: 20%;
        margin: 9% 20% 9% 20%;
        font-size:1em;
    }
}

@media (min-width :768px) and (max-width : 991px)   {    
    h1, #sopaT{
        padding-top: 25px;
        font-size: 5.1em;  
    } 
    
    #titulolabel, #descripcionlabel, #numerolabel  {     
        font-size: 1.8em;
        margin: 0 40px 0 10px;
        text-align: left;
        padding-left: 10%;
    } 
    
    input[type="text"]{ 
        height: 40px; 
        width: 140px;
        border: 2px solid #aaa; 
        box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
        border-radius: 5px; 
        padding: 5px;   
        border-bottom: 1px solid #eee;  
        font-size: 1.1em;
    }
    
    textarea{
        width: 180px;
        border: 2px solid #aaa; 
        box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
        border-radius: 5px; 
        padding: 10px;   
        border-bottom: 1px solid #eee;  
    }
    
    input[type="number"]{ 
        height: 40px; 
        width: 70px;
        border: 2px solid #aaa; 
        box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
        border-radius: 5px; 
        padding: 5px;   
        border-bottom: 1px solid #eee;  
        text-align: center;
        font-size: 1.1em;
    }
    
    #check{     
        font-size:1.9em;
        color:white;
        background:#979003;
        margin-left: 20px;
        text-align: center;
        font-size: 1.1em;
    }
    
    #sopa2{
        width: 90%;
        margin: 60% 5% 40% 5%;
    } 
    
    #container{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding:4%;
        border: 10px solid #660066;
        border-radius: 20px;
    }
    
    #container2{
        width: 100%;
        border: 10px solid #660066;
        border-radius: 20px;
        padding-bottom: 2%;
    }
    
    #mostrar{
        width: 50%;
        margin-left: 50%;
    }
    
    #generar input{    
        width: 15%;
        margin-left: 53%;       
        font-size:1.1em;
        color:#660066;
    }  
    
    .btn{    
        width: 28px;
        height: 28px;
        text-align: center;
        padding: 0.7px;
        font-size: 1.1em;
        font-weight: bold;
        border: 1px outset blue;
        background-color: lightBlue;
    }

    #verificar{    
         width: 10%;
        margin-left: 45%;  
        font-size:1.3em;
        color:#660066;
    }
    
    /*Reloj: Tomado de https://fitorec.wordpress.com/2011/01/21/creando-un-reloj-con-javascript-y-css/ */
    #countdownExample{
       padding:3px;
       font-size: 1.3em;
       text-align: center;
       width: 70%;
       margin: 10px 15% 0 15%; 
    }

    #sopaT{
        font-size: 80%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #sopaD {
        font-size: 110%;
        font-weight: bold;
        width: 70%;
        margin-left: 10%;
        margin-right: 15%;
    }

    #lista {
        font-size: 1.2em;
        margin-top: 3%;
        margin-left: 2%;
    }

    #table {
        margin-left: 1%;
    }

    #tablero {
        /*border-style: outset;
        border-width: 2px;*/
        margin-top: 4%;
        width: 23%;
        padding: 2px;
        /*border:4px solid #000000;*/
        text-align: center;
        font-size: 1em;
    }

    h4 {
        font-size: 1em;
    }
        
    #contador, #contador2{
        margin: 2%;
        width: 6%;
        padding: 2px;
        text-align:center;
        border-color: #ff00dc;
        border-radius: 1px;
        font-weight: bold;
        font-size: 0.9em;
    }

    #div{
        width: 50%;
        margin: 1% 25% 0 25%;
        font-size:1.6em;        
    }

    #gif{
        width: 98%;
    }

    #checkbox{
        width: 20%;
        margin: 9% 20% 9% 30%;
        font-size:1.2em;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    body{
        padding: 5%;
    }
    
    h1, #sopaT{
        margin-top: 30px;
        font-size: 5em; 
    } 
     
    #titulolabel, #descripcionlabel, #numerolabel  {     
        font-size: 2em;
        margin: 0 40px 0 10px;
        text-align: left;
        padding-left: 10%;
    } 
    
    input[type="text"]{ 
        height: 40px; 
        width: 180px;
        border: 2px solid #aaa; 
        box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
        border-radius: 5px; 
        padding: 5px;   
        border-bottom: 1px solid #eee;  
        font-size:1.3em;
    }
    
    textarea{
        width: 200px;
        border: 2px solid #aaa; 
        box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
        border-radius: 5px; 
        padding: 10px;   
        border-bottom: 1px solid #eee;  
    }
    
    input[type="number"]{ 
        height: 40px; 
        width: 60px;
        border: 2px solid #aaa; 
        margin-bottom: 10%;
        box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
        border-radius: 5px; 
        padding: 5px;   
        border-bottom: 1px solid #eee;  
        text-align: center;
        font-size: 1.3em;
    }
    
    #check{     
        color:white;
        background: #979003;
        margin-left: 20px;
        text-align: center;
        font-size:1.3em;
    }
    
    #sopa2{
        width: 80%;
        margin: 60% 10% 40% 10%;
    }
        
    #container{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding:4%;
        border: 10px solid #660066;
        border-radius: 20px;
    }
    
    #container2{
        width: 100%;
        border: 10px solid #660066;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    
    #mostrar{
        width: 30%;
        margin-left: 32%;
    }
    
    #generar input{    
        width: 15%;
        margin-left: 42%;      
        font-size:1.2em;
        color:#660066;
    } 

    #verificar{    
        width: 45%;
        margin-left: 12.5%;        
        margin-right: 12.5%; 
        margin-bottom: 7%;  
        font-size:1.2em;
        color:#660066;
    }
    
    .btn{    
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 1px;
        font-size: 1em;
        font-weight: bold;
        border: 1px outset blue;
        background-color: lightBlue;
    }

    /*Reloj: Tomado de https://fitorec.wordpress.com/2011/01/21/creando-un-reloj-con-javascript-y-css/ */
    #countdownExample{
       padding:3px;
       font-size: 1.4em;
       width: 70%;
       margin-left: 15%;
       margin-right: 15%;
    }
    
    #sopaT{
        font-size: 70%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #sopaD {
        font-size: 110%;
        font-weight: bold;
        width: 70%;
        margin-left: 10%;
        margin-right: 15%;
    }

    #lista {
        font-size: 1.4em;       
        margin-top: 3%;
    }

    #tablero {
        border-style: outset;
        border-width: 2px;
        margin-top: 4%;
        width: 23%;
        padding: 15px;
        border:4px solid #000000;
        text-align: center;
    }
    
    #contador, #contador2{
        margin: 2%;
        width: 8%;
        padding: 1px;
        text-align:center;
        border-color: #ff00dc;
        border-radius: 1px;
        font-weight: bold;
        font-size: 1.3em;
     }

     #div{
        width: 50%;
        margin: 1% 25% 0 25%;
        font-size:1.7em;        
     }

     #checkbox{
        width: 20%;
        margin: 10% 0 10% 20%;
        font-size:1.3em;
     }
}

@media (min-width : 1200px){    
    h1{
        font-size: 5.8em;   
    } 
        
    #titulolabel, #descripcionlabel, #numerolabel  {     
        font-size: 2.5em;
        margin: 0 40px 0 10px;
        text-align: left;
        padding-left: 10%;
    } 
    
    input[type="text"]{ 
        height: 40px; 
        width: 220px;
        border: 2px solid #aaa; 
        box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
        border-radius: 5px; 
        padding: 5px;   
        border-bottom: 1px solid #eee; 
        font-size: 1.5em; 
    }
    
    textarea{
        width: 220px;
        border: 2px solid #aaa; 
        box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
        border-radius: 5px; 
        padding: 10px;   
        border-bottom: 1px solid #eee;  
    }
    
    input[type="number"]{ 
        height: 40px; 
        width: 100px;
        border: 2px solid #aaa; 
        box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
        border-radius: 5px; 
        padding: 5px;   
        border-bottom: 1px solid #eee;  
        text-align: center;
        font-size:1.5em;
    }
    
    #check{     
        font-size:1.5em;
        color:white;
        background: #979003;
        margin-left: 20px;
        text-align: center;
        font-size:1.5em;
    }
    
    #sopa2{
        margin: 100px 0 40% 0;
    }
    
    #container{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding:3%;
        border: 10px solid #660066;
        border-radius: 20px;
    }
    
    #container2{
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        padding:2%;
        border: 10px solid #660066;
        border-radius: 20px;
    }
    
    #mostrar{
        width: 30%;
        margin-left: 35%;
    }
    
    #generar input{    
        width: 10%;
        margin-left: 45%;      
        font-size:1.3em;
        color:#660066;
    }    
    
    #verificar{    
        width: 60%;
        margin: 3% 12.5% 0 12.5%;
        font-size:1.5em;
        color:#660066;
    }
    
    .btn{    
        width: 35px;
        height: 35px;
        text-align: center;
        padding: 1px;
        font-size: 1.2em;
        font-weight: bold;
        border: 1px outset blue;
        background-color: lightBlue;
    }

    /*Reloj: Tomado de https://fitorec.wordpress.com/2011/01/21/creando-un-reloj-con-javascript-y-css/ */
    #countdownExample{
       padding:2px;       
       font-size: 2em;
       width: 70%;
       margin-right: 15%;
       margin-left: 15%;
    }

    #sopaT{
        font-size: 80%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #sopaD {
        font-size: 130%;
        font-weight: bold;
        width: 70%;
        margin-left: 10%;
        margin-right: 15%;
    }

    #lista {
        font-size: 1.4em;
        margin-top: 3%;
    }
        
    #tablero {
        border-style: outset;
        border-width: 2px;
        margin-top: 4%;
        width: 23%;
        padding: 15px;
        border:4px solid #000000;
        text-align: center;
    }
        
    #contador, #contador2{
        margin: 2%;
        width: 7%;
        padding: 1px;
        text-align:center;
        border-color: #ff00dc;
        border-radius: 1px;
        font-weight: bold;
        font-size: 1.4em;
    }

    #div{
        width: 50%;
        margin: 1% 25% 0 25%;
        font-size:2em;        
    }

    #checkbox{
        width: 20%;
        margin: 10% 2% 10% 25%;
        font-size:1.5em;
    }
}

body{
    padding-top: 2%;
    background: url("../images/img01.jpg");
    font-family: 'Inconsolata';
}

h1{
    color: #979003;
    text-align: center;
    font-weight: bold;
    font-family: 'Inconsolata';
}

#sopaD, #lista, #generar input{
    text-align: center;
    font-family: 'Inconsolata';
}

#generar input {
    font-weight:bold;
}

#lista {
    font-weight: bold;
}

h4 {
    font-weight: bold;
    color: black;
}

#usuario, #puntos {
    font-weight: normal;
}

#tablero, #countdownExample, #lista, h4 {
    font-family: 'Inconsolata';
}

/*Reloj: Tomado de https://fitorec.wordpress.com/2011/01/21/creando-un-reloj-con-javascript-y-css/ */
#countdownExample{
    top: 0px;
    right: 0px;
    background: #ff0000;
    color: #eee;
    text-align: center;
    text-shadow: #FFE145 1px 1px 1px;
}

.btn{
    text-align: center;     
    border: 1px outset blue;
    background-color: lightBlue;
    font-weight: bold;
}

#mensaje{
    font-weight: bold;  
    text-decoration: underline;
    color:blue;
}

#div{
    text-align:center;
}

#contador, #contador2 {
    color: black;
}

#checkbox{
    display: none;
    color: black;
    text-align: center;
}

.error{
    background: #f8dbdb;
    background-color: #e77776;
}